body {
    background-color: #050203;
}

h1, p {
    color: whitesmoke;
}

.nav {
    background-color: transparent;
}

.nav-link {
    --c: no-repeat linear-gradient(#1095c1 0 0);
    background: 
      var(--c) calc(-101% + var(--i,0)*101%) 100% / 50.1% calc(100%*var(--i,0) + .08em),
      var(--c) calc( 201% - var(--i,0)*101%) 0    / 50.1% calc(100%*var(--i,0) + .08em);
    transition: .3s calc(var(--i,0)*.3s), background-position .3s calc(.3s - var(--i,0)*.3s);
  }
  .nav-link:hover {
    --i: 1;
  }