body {
    background-color: #050203;
}

h1, p {
    color: whitesmoke;
}

.nav-link {
    --c: #d4af37;
    line-height: 1.2em;
    background:
    conic-gradient(from -135deg at 100% 50% var(--c) 9°deg, #000) 0 var(--p, 0%) / var(--s, 0%) 200% no-repeat,
    conic-gradient(from -135deg at 1.2em 50%, #0000 90deg, var(--c) 0)
    100% var(--p, 0%) / var(--s, 0%) 200% no-repeat;
    transition: background-size .4s, background-position 0s;
}

.nav-link:hover {
    --p: 100%;
    --s: calc(50%, .6em);
}